[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[requires]
python_version = "2.7"

[packages.texlib]
git = "https://github.com/afonsobspinto/texlib.git"
editable = true
ref = "feature/feasible"
